@charset "utf-8";
#apDiv1 {
	position:absolute;
	left:742px;
	top:121px;
	width:209px;
	height:47px;
	z-index:1;
	font-family: Verdana, Geneva, sans-serif;
	font-size: smaller;
	font-weight: bolder;
	color: #808080;
	font-style: italic;
	text-align: center;
}

.table {
	border: thin solid #CCC;
	background-color: #FFF;
}
h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #666;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #3386A2;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

h1 a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #666;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	font-style: italic;
}
h4 a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #666;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	font-style: italic;
}
h5 a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #666;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	font-style: italic;
}


h3 a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #3386A2;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}


body {
	background-image: url(../img/ban_index.gif);
	background-repeat: no-repeat;
	-moz-border-end-color: #D3B576;
}


h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	color: #666;
	text-align: center;
	vertical-align: middle;
	font-style: italic;
}
.clic {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	color: #666;
	text-align: left;
	vertical-align: middle;
	font-style: italic; 
	font-weight: bold;
}
.clic a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	color: #666;
	text-align: left;
	vertical-align: middle;
	font-style: italic;
	font-weight: bold; 
}
.clic a:hover {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	color: #3386A2;
	font-weight: bold;
	text-decoration: underline;
}
h2 a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	color: #3386A2;
	text-align: left;
	vertical-align: middle;
	font-style: italic;
}
h2 a:hover {
	font-family: Verdana, Geneva, sans-serif;
	font-size: medium;
	color: #666;
	font-weight: bold;
	text-decoration: underline;
}
h3 a:hover {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	text-decoration: underline;
}

h1 a:hover {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	text-decoration: underline;
}
h4 a:hover {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #666;
	font-weight: bold;
	text-decoration: underline;
}





ul {
	list-style-position: outside;
	list-style-image: url(../img/puce_grise.gif);
	list-style-type: none;
	font-family: Verdana, Geneva, sans-serif;
	color: #083a5b;
	font-size: 12px;
}

ul a {
	list-style-position: outside;
	list-style-image: url(../img/puce_grise.gif);
	list-style-type: none;
	font-family: Verdana, Geneva, sans-serif;
	color: #083a5b;
	font-size: 12px;
	text-decoration: none;
}

ul a:hover {
	list-style-position: outside;
	list-style-image: url(../img/puce_lien_header.png);
	list-style-type: none;
	font-family: Verdana, Geneva, sans-serif;
	color: #083a5b;
	font-size: 12px;
	text-decoration: underline;
}

#apDiv2 {
	position:absolute;
	left:149px;
	top:120px;
	width:691px;
	height:395px;
	z-index:1;
}

#apDiv1 {
	position:absolute;
	left:742px;
	top:121px;
	width:209px;
	height:47px;
	z-index:1;
	font-family: Verdana, Geneva, sans-serif;
	font-size: smaller;
	font-weight: bolder;
	color: #808080;
	font-style: italic;
	text-align: center;
}

#notice {
	position: absolute;
	left: 807px;
	top: 27px;
	width: 135px;
	height: 62px;
	z-index: 1;
	background-image: url(../img/bg_monEsp.jpg);
	background-repeat: no-repeat;
}
#maj {
	position: absolute;
	left: 270px;
	top: 571px;
	width: 212px;
	height: 32px;
	z-index: 2;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-style: italic;
	color: #3386A2;
	font-weight: bold;
}
