ul li:hover {
	list-style-position: outside;
	list-style-image: url(../img/puce_lien_header.png);
	list-style-type: none;
	font-family: Verdana, Geneva, sans-serif;
	color: #083a5b;
	font-size: 12px;
	text-decoration: none;
}

li a:hover {
	list-style-position: outside;
	list-style-image: url(../img/puce_lien_header.png);
	list-style-type: none;
	font-family: Verdana, Geneva, sans-serif;
	color: #083a5b;
	font-size: 12px;
	text-decoration: none;
}
ul a {
	list-style-position: outside;
	list-style-image: url(../img/puce_grise.gif);
	list-style-type: none;
	font-family: Verdana, Geneva, sans-serif;
	color: #083a5b;
	font-size: 12px;
	text-decoration: none;
	margin-bottom: 10px;
}
h1 a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #3386A2;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}

h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #3386A2;
	text-align: left;
	vertical-align: middle;
	font-style: normal;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
}
h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #3386A2;
	text-align: left;
	vertical-align: middle;
	font-style: normal;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 15px;
}




ul {
	list-style-position: outside;
	list-style-image: url(../img/puce_grise.gif);
	list-style-type: none;
	font-family: Verdana, Geneva, sans-serif;
	color: #083a5b;
	font-size: 12px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 35px;
	padding: 0px;
}

h1 a:hover {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	text-decoration: underline;
}




h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #3386A2;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}
