@charset "utf-8";
/* CSS Document */
/*style applique a modele_commun_cplt*/
#retour
{
	position: absolute;
	left: 1173px;
	top: 13px;
	width: 82px;
	height: 75px;
	z-index: 2;
}

#option_cplt
{
	position: absolute;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11pt;
	width: 295px;
	left: 831px;
	top: 756px;
	color: black;
	border: solid;
	border-color: #FF6600;
	background-color: #FFF;
	padding: 5px 5px 5px 15px;
	z-index:1;
}	
.btn_sanscadre
{
	cursor: pointer;
}
#fermer
{
	position: absolute;
	left: 1120px;
	top: 765px;
	z-index: 2;
}

#afficher
{
	position: absolute;
	left: 1103px;
	top: 745px;
	padding: 5px 5px 5px 15px;
	display:none;
}

#cplt
{
	background: url('../img/infoI.png') no-repeat;
	background-position:left center;
	float:left;
	width: 280px;
	padding: 10px 10px 10px 10px;
}

#texte_cplt
{
	width: 265px;
	margin-left: 15px;
	padding: 5px;
}

.bouton_retour
{
	background-color: white;
	border-radius: 15%;
	cursor: pointer;
	width: 90px;
	height: 90px;
}

p {
	font-family: Verdana, Geneva, sans-serif;
}
.texte_encadre_orange a
{
	border: solid;
	border-color: #FF6600;
	border-radius: 25%;
}

.btn_sanscadre
{
	border:none;
	background-color:transparent;
}
/*style applique a infobulle - est-ce utile ?*/
/*area
{
	cursor: pointer;
}*/
