@charset "utf-8";
/* COMMUN*/
/**LOGO et MARIANE**/
#impotsgouv {
    height: 100pt;
    padding: 0;
    background-image:url("../img/logo.svg");
/*     background-size: 100% 100%; */
    background-size: contain;
    -webkit-background-size: contain;
    background-repeat:no-repeat;
    background-position:50%;
}


/**Decalage de la deuxième photo mariane*/
.paddingTop {
    padding-top: 1.5em;
}
/*Arriere plan main*/
header{
    padding-top: 1em;
    padding-bottom: 1em;
}
main {
    background-color: #e8e8e8;
    padding: 0;
}

row {
    width: 100%;
    margin: 0;
}

label {
    font: 10.5pt Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 1em
}

h1, h2, h3, h4 {
    font-family: "Lato", Arial, sans-serif
}

h2 {
    color: #0b6ba8;
    font-size: 1.1em;
    font-weight: normal;
}

h1 {
    font-size: 1.4em;
    font-family: "Lato", Arial, sans-serif;
}

h1.titre {
    font-size: 1.5em;
    margin: 0 0 20pt 0;
    border-bottom: 2px solid #0B6BA8;
    padding-bottom: 0.3em;
    padding-top: 0.5em;
    padding-left: 1em;
    margin: 0em 0em 0.6em 0em;
}

h1.titre, h4.titre {
    text-align: left
}

h1, h2 {
    font-weight: normal
}

p {
    font-size: 1em
}
.modal-dialog{
    margin-top:8em;
}

.hide {
    display: none;
}

#adress span, #pass span {
    width: 300pt;
}

#phone span {
    width: 250pt;
}

#pwdform, #mailform{
      
    margin-bottom:0;
}

img.aide {
    width: 18pt;
    height: 18pt;
}

footer {
    height: 100%;
    margin-top: 2em;
    margin-bottom: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    background-color: white;
    /*Problème du footer qui monte*/
    z-index: 999;
}
/*Aligner les boutons de modal footer*/
.centerContent {
    text-align: center;
}

.modal-footer {
    border-top: 0px;
}

select>option, select>option:selected {
    font: 10.5pt Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 1em
}
/**Input de creation de mon compte**/
.prefixe {
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #cecece;
    border-radius: 0;
    border-style: none none solid;
    border-width: medium medium 1pt;
    box-shadow: none;
    color: #333;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.3em;
    padding: 5px 0;
    margin-bottom:1em;
}
/**Titre adresse mail, mot de passe...**/
legend:before {
    content: "\25FC";
    font-size: 0.5em;
    margin-right: 1%;
}

legend {
    color: #0B6BA8;
    font-size: 1.2em;
    border: none;
}

select {
    border: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 0;
    border-radius: 0;
    font-size: 1em;
    width: 83%;
    background: transparent url("../../../../profil/acces/commun/PAS/images/select.png") no-repeat scroll 95% 50%;
    z-index: 888888888;
}

/* input:after { */
/*     content: "\25BE"; */
/*     color: #696969; */
/*     margin: 0; */
/* } */

select:focus {
    outline: 0;
}

.noPadding {
    padding: 0;
}

.noPaddingLeftRight {
    padding-left: 0em;
    padding-right: 0em;
}

.noPaddingLeft {
    padding-left: 0em;
}

.prefixe:focus {
    border-bottom: 1pt solid #0B6BA8;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.indTelDiv {
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0.5em;
}

.telDiv {
    padding-right: 0em;
    padding-left: 0.5em;
    padding-bottom: 0em;
}

.spanMesDocument {
    width: 260pt;
}

.spanDeclarationDeRevenu {
    height: auto;
    width: 25em;
}
/*Champs invisible à l'écran*/
.out {
    text-indent: -10000px;
    position: absolute;
    z-index: -1;
}

.close{
    opacity:1;
}

.close img{
    
    width:9pt;
    height: 9pt;
}
.close:hover{
     opacity:1;
    transform:rotate(90deg);
    -webkit-transform: rotate(90deg); /* Safari */
    transition:all 1s;
}
/* .close img:hover{ */
     
    
/*     opacity:1; */
/* } */
/* Login Form-> pesronaldata*/
#personalData {
    padding-top: 0em;
    border-radius: 4px;
    padding-left: 1em;
    background-color: White;
}

.champAsterix {
    padding-top: 2em;
    padding-left: 1em;
}

#personalData fieldset {
    padding-left: 0em;
}
/* Login Form-> option demat*/
#optionsForm {
    border-radius: 4px;
    background-color: transparent;
    margin-left: 0.1em;
}

/* groupform optiondemat*/
#optiondemat {
    border-radius: 4px;
    border: 2em #e8e8e8;
    background: #FCFCFC;
    background-opacity: 0.5;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    margin: 1em 1em 1em 0.25em;
    padding: 0.5em 0em 0em 0.5em;
}

form-group {
    padding-top: 2em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.formAvecEntete {
    background-color: white;
    padding-right: 0em;
    padding-left: 0em;
    border-radius: 4px;
    padding-bottom: 2em;
}

.optionmere {
    padding-right: 0em;
    padding-left: 0em;
    background-color: white;
    border-radius: 4px;
}

.modal-header {
    border-bottom: 2px solid #0B6BA8;
}

.confirmAct {
    padding: 2em 2em 0em 2em;
    margin: 2em;
    border-radius: 0.5em;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    /*     -moz-box-shadow: -2px 0px 5px 0px #656565; */
    /*     -webkit-box-shadow: -2px 0px 5px 0px #656565; */
    /*     -o-box-shadow: -2px 0px 5px 0px #656565; */
    /*     box-shadow: -2px 0px 5px 0px #656565; */
}

#Myoptions {
    padding-right: 0em;
}
/**Information personnelle dans le header*/
#personalInfo {
    margin-top: 2em;
    text-align: right;
}

.opacity05 {
    color: #707070;
}

#personalInfo p {
    padding: 0em;
    margin: 0em;
    font-size: 14px
}

#declaration, #avis, #locaux {
    padding-left: 0.1em;
    padding-right: 0em;
}

#textItalic p {
    font-style: italic;
    color: #4C4C4C;
    font-size: 0.80em;
    text-align: justify;
    padding: 0 3% 0 2%
}

.container {
    padding-right: 1em;
    padding-left: 1em;
    /**margin:0;**/
}
/*A supprimer temporaire*/
.tmpContainer {
    width: 95%;
}

li {
    padding-bottom: 1em;
}

li>a {
    font-size: 1em;
}

.erreur {
    color: red;
    padding: 4pt 10pt;
    margin: 0 0 1em 0;
    display: inline-block;
    background-color: #fee1e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    /*  visibility: hidden;*/
}

.formAvecEntete ul, .optionmere ul {
    padding-left: 1em;
    list-style-type: square;
    color: #337ab7;
}

.noBottomLeftPadding {
    padding-bottom: 0em;
    padding-left: 0em;
}

.noPadding {
    padding: 0;
}
/* infobulles d'aide*/
a.info, a.infoDemat, a.infoGauche {
    position: relative;
    text-decoration: none;
    outline: 0 none;
}

a.info span {
    display: none; /* On masque l'infobulle. */
    top: -25pt;
    left: 30pt;
    position: absolute;
    padding: 15pt;
    font-size: 10pt;
    border-radius: 3pt;
}

a.infoDemat span {
    display: none; /* On masque l'infobulle. */
    bottom: 20pt;
    left: -13.5em;
    position: absolute;
    padding: 15pt;
    font-size: 10pt;
    border-radius: 3pt;
}

a.infoGauche span {
    display: none; /* On masque l'infobulle. */
    top: -5em;
    left: -27em;
    position: absolute;
    padding: 15pt;
    font-size: 10pt;
    border-radius: 3pt;
}

a.info:hover, a.info:focus, a.infoDemat:hover, a.infoDemat:focus, a.infoGauche:hover, a.infoGauche:focus {
    background: none;
    z-index: 99999;
}

a.info:hover span, a.info:focus span, a.infoDemat:hover span, a.infoDemat:focus span, a.infoGauche:hover span, a.infoGauche:focus span {
    display: inline; /* On affiche l'infobulle. */
    position: absolute;
    opacity: 1;
    background: black;
    color: white;
    font-size: 10pt;
}

a.info ::before {
    content: '';
    position: absolute;
    top: 22pt;
    left: -10pt;
    border-top: 7pt solid transparent;
    border-right: 10pt solid rgba(0, 0, 0, .9);
    border-bottom: 7pt solid transparent;
}

a.infoDemat ::after {
    content: '';
    position: absolute;
    bottom: -9pt;
    left: 14em;
    border-left: 7pt solid transparent;
    border-right: 7pt solid transparent;
    border-top: 10pt solid rgba(0, 0, 0, .9);
}

a.infoGauche ::before {
    content: '';
    position: absolute;
    top: 5em;
    right: -10pt;
    border-bottom: 7pt solid transparent; /* left arrow slant */
    border-top: 7pt solid transparent; /* right arrow slant */
    border-left: 10pt solid rgba(0, 0, 0, .9); /* bottom, add background color here */
}
/* switch toggle*/
input.switch:empty {
    opacity: 0;
    margin-left: -1.3em;
}

input.switch:empty ~ label {
    position: relative;
    line-height: 1.4em;
    text-indent: 0em;
    margin: 0.2em 0;
    cursor: pointer;
    padding-left: 4em;
    /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
}

input.switch:empty ~ label:before, input.switch:empty ~ label:after {
    position: absolute;
    display: inline-block !important;
    top: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    width: 2.8em;
    background-color: #f1f1f1;
    border-radius: 2.8em;
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    border: 1px solid #dddddd;
}

input.switch:empty ~ label:after {
    width: 1.4em;
    background-color: #FCFCFC;
    border-radius: 1.4em;
}

input.switch:checked ~ label:before {
    background-color: #8ce196;
}

input.switch:checked ~ label:after {
    margin-left: 1.3em;
}

body {
    position: relative;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

/*MONCOMPTE.JSP
table {
 display: table;
 border-radius: 2em;
 border-spacing: 1em;
 border-collapse: separate;
 
 }
 table h3{
 color:#337ab7;
 font-size:1.45em;
 }*/
#monEspace {
    padding: 2em 1em 2em 1em;
}

#monEspace div div {
    height: 100%;
    padding-left: 1em;
    padding-bottom: 1em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
}

#monEspace div div:hover {
    height: 100%;
    padding-left: 1em;
    padding-bottom: 1em;
    border-radius: 0.5em;
    -moz-box-shadow: 0 0 0.15em rgba(0, 0, 0, .5);
    -ms-box-shadow: 0 0 0.15em rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 0.15em rgba(0, 0, 0, .5);
    -o-box-shadow: 0 0 0.15em rgba(0, 0, 0, .5);
    box-shadow: 0 0 0.15em rgba(0, 0, 0, .5);
}

#monEspace>div {
    padding: 0.5em;
}

#ancienPwd {
    margin-bottom: 1em;
}

/**Titres en bleu dans mon espace particulier**/
#monEspace  h2 {
    color: #0b6ba8;
    font-family: "Lato", Arial, sans-serif;
    font-size: 1.5em;
    font-weight: normal;
}
/*Liens en noir dans mon espace particulier*/
#monEspace  a {
    color: #333;
}

/* Breadcrumb */
#breadcrumb ul {
    padding-top: 1em;
    padding-bottom: 0.2em;
    padding-left: 0em;
}

#breadcrumb li {
    display: inline;
    padding-left: 0em;
}

#breadcrumb li+li:before {
    content: " > ";
    padding-left: 0em;
}

#breadcrumb li ~ li:before {
    content: " > ";
    padding-left: 0em;
}

#breadcrumb li a, table a {
    color: black
}

.italic p {
    font-style: italic;
}
/**ADAPTATION DE L'AFICHAGE IE 6,7,8**/
@media \0screen\,screen\9,screen\0 {
/*     img.aide { */
/*     width: 18pt; */
/*     height: 18pt; */
/* } */
    
    td {
        background-color: White;
        width: 33.33%;
        padding-left: 1em;
        padding-bottom: 1em;
        padding-top: 1em;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        -ms-border-radius: 2em;
        border-radius: 0.5em;
        -moz-box-shadow: -2px 0px 5px 0px #656565;
        -ms-box-shadow: -2px 0px 5px 0px #656565;
        -webkit-box-shadow: -2px 0px 5px 0px #656565;
        -o-box-shadow: -2px 0px 5px 0px #656565;
        box-shadow: -2px 0px 5px 0px #656565;
        behavior: url(../../../../profil/acces/commun/PAS/noAuth/css/PIE.htc);
    }
    #optiondemat {
        -ms-border-radius: 4px;
        border: 2em #e8e8e8;
        background: #FCFCFC;
        background-opacity: 0.5;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        display: block;
        behavior: url(../../../../profil/acces/commun/PAS/noAuth/css/PIE.htc);
    }
    #personalData {
        border-radius: 4px;
        background-color: White;
        padding-left: 1em;
        behavior: url(../../../../profil/acces/commun/PAS/noAuth/css/PIE.htc);
    }
    #personalData fieldset {
        padding-left: 0em;
    }
    #optionsForm {
        border-radius: 4px;
        background-color: transparent;
        margin-left: 0.1em;
        behavior: url(../../../../profil/acces/commun/PAS/noAuth/css/PIE.htc);
    }
    .formAvecEntete {
        background-color: white;
        padding-right: 0em;
        padding-left: 0em;
        border-radius: 4px;
        behavior: url(../../../../profil/acces/commun/PAS/noAuth/css/PIE.htc);
    }
    .optionmere {
        padding-right: 0em;
        padding-left: 0em;
        background-color: white;
        border-radius: 4px;
        behavior: url(../../../../profil/acces/commun/PAS/noAuth/css/PIE.htc);
    }
    .erreur {
        color: red;
        padding: 4pt 10pt;
        margin: 0 0 1em 0;
        display: inline-block;
        background-color: #fee1e5;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        behavior: url(../../../../profil/acces/commun/PAS/noAuth/css/PIE.htc);
        /*  visibility: hidden;*/
    }
}

/**Au petits ecrans; info alligné a droite*/
@media screen and (max-width: 992px) {
    #Myoptions {
        padding-right: 0em;
        padding-left: 0em;
    }

    /*Problème de footer qui monte*/
    footer {
        /*Problème du footer qui monte*/
        z-index: -1;
    }
    #principalForm {
        padding: 0;
    }
    .tmpContainer {
        width: 95%;
    }
}

@media screen and (max-width: 768px) {
    #personalInfo {
        margin-top: 2em;
        text-align: left;
    }
#impotsgouv{
padding:0;
height:50pt;
background-image:url("../img/logo-rwd.svg");
background-size: contain;
-webkit-background-size: contain;
background-repeat:no-repeat;
background-position: 50%;
}
}

@media screen and (min-width: 1170px) {
    .tmpContainer {
        width: 70%;
    }
}